# intellij-idea-keymap

# Disable keynindings
## bookmarks, atom-terminal

'body':
    # 'ctrl-shift-tab ^ctrl': 'unset!'

    # window
    'alt-tab': 'window:focus-next-pane' # Goto Next Splitter
    'alt-shift-tab': 'window:focus-previous-pane' # Goto Splitter Splitter

'.platform-darwin':
    # Navigation
    'cmd-1': 'tree-view:toggle' # Open corresponding tool window
    # 'cmd-\\': 'unset!' # cancel the tree-view shortcut
    # 'cmd-k cmd-b': 'unset!' # cancel the tree-view shortcut

# 전체 발생
'.platform-darwin atom-workspace':
    # General
    'cmd-shift-a': 'command-palette:toggle' # Find action

    # Search / Replace
    'cmd-shift-f': 'project-find:show' # Find in path
    'cmd-shift-r': 'project-find:show' # Replace in path

    # Navigation
    'cmd-o': 'fuzzy-finder:toggle-file-finder' # Go to class
    'cmd-shift-o': 'fuzzy-finder:toggle-file-finder' # Go to file

    # Editing
    # ETC

# 에디터 안에서만 발생
'.platform-darwin atom-workspace atom-text-editor:not([mini])':
    # General

    # Search / Replace
    'cmd-r': 'find-and-replace:show'
    'ctrl-g': 'find-and-replace:select-next' # Add Selection for Next Occurence
    'ctrl-shift-g': 'find-and-replace:select-undo' # Unselect Occurence

    # Navigation
    'ctrl-right': 'pane:show-next-item' # Go to next editor tab
    'ctrl-left': 'pane:show-previous-item' # Go to previous editor tab
    'cmd-l': 'go-to-line:toggle' # Go to line
    'cmd-e': 'fuzzy-finder:toggle-buffer-finder' # Recent files popup
    'cmd-ctrl-s': 'tree-view:reveal-active-file'
    'cmd-f3': 'bookmarks:view-all' # Show bookmarks
    'f3': 'bookmarks:toggle-bookmark' # Toggle bookmark

    # Editing
    'cmd-d': 'editor:duplicate-lines' # Duplicate current line or selected block
    'alt-up': 'editor:select-to-next-subword-boundary' # Select successively increasing code blocks
    'alt-down': 'editor:select-to-previous-subword-boundary' # Decrease current selection to previous state
    'cmd-backspace': 'editor:delete-line' # Delete line at caret
    'cmd-shift-up': 'editor:move-line-up' # Move line up
    'cmd-shift-down': 'editor:move-line-down' # Move line down
    'alt-shift-up': 'editor:move-line-up' # Move line up
    'alt-shift-down': 'editor:move-line-down' # Move line down
    'cmd-alt-l': 'atom-beautify:beautify-editor' # Reformat code

    # Live Templates
    'cmd-j': 'snippets:available' # Insert live templates

# tree-vew keybinding
'.platform-darwin .tree-view':
    # General
    'a': 'unset!'
    'cmd-n': 'tree-view:add-file'

    # Navigation
    'cmd-1': 'tree-view:toggle' # Open corresponding tool window

    # Editing'.tree-view':
    # 'ctrl-shift-C': 'unset!'
    'cmd-shift-c': 'tree-view:copy-full-path'
    # 'f2': 'unset!'
    'cmd-r': 'tree-view:move'
    'f6': 'tree-view:move'
    'shift-f6': 'tree-view:move'
