"*":
  "asciidoc-preview":
    scrollMode: false
  "atom-beautify":
    general:
      _analyticsUserId: "73ed68d3-49a8-4f68-b0d7-8949b8ff482e"
  "atom-runner":
    paneSplitDirection: "Down"
  "atom-terminal":
    app: "iTerm.app"
  "atom-ternjs":
    excludeLowerPriorityProviders: true
  core:
    packagesWithKeymapsDisabled: [
      "fuzzy-finder"
      "git-plus"
      "terminal-plus"
      "atom-terminal"
      "bookmarks"
      "asciidoc-preview"
    ]
    telemetryConsent: "no"
    themes: [
      "nord-atom-ui"
      "nord-atom-syntax"
    ]
  editor:
    fontFamily: "InconsolataForPowerline-g"
    fontSize: 12
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "67f37477-978c-9c59-ce6d-7c254ec530be"
  "expand-region": {}
  "file-icon-supplement": {}
  "file-icons":
    forceShow: true
    onChanges: true
    strategies: {}
  "git-plus":
    general:
      _analyticsUserId: "4048f457-88e5-4042-a10c-afc5ad3dbd89"
  "highlight-selected": {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
  "linter-pug":
    onlyRunWhenConfig: true
  minimap:
    absoluteMode: true
    displayCodeHighlights: false
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "nord-atom-ui":
    darkerFormFocusEffect: true
    tabSizing: false
  "platformio-ide-terminal":
    core: {}
  runner:
    extensions:
      "spec.js": "mocha"
      "test.js": "mocha"
    scopes:
      js: "node"
  "seti-syntax":
    themeColor: "Steel"
  "seti-ui":
    compactView: true
    themeColor: "Steel"
  "terminal-plus":
    core:
      autoRunCommand: "alt-f12"
    toggles: {}
  "tree-view": {}
  "tree-view-git-status": {}
  welcome:
    showOnStartup: false
