# intellij-idea-keymap for OSX

################################################################################
# Requirement Plugins
################################################################################
# Community Packages
# - atom-beautify
# - atom-runner
# - atom-ternjs
# - bookmarks
# - last-cursor-position
# - expand-region
# Core Packages
# - command-palette
# - find-and-replace
# - fuzzy-finder
# - tree-view

'body':
    # window
    'alt-tab': 'window:focus-next-pane' # Goto Next Splitter
    'alt-shift-tab': 'window:focus-previous-pane' # Goto Splitter Splitter
    'alt-up': 'core:select-to-top'

'.platform-darwin':
    # Navigation
    'cmd-1': 'tree-view:toggle' # Open corresponding tool window

# in workspace
'.platform-darwin atom-workspace':
    # General
    'cmd-shift-a': 'command-palette:toggle' # Find action

    # Search / Replace
    'cmd-shift-f': 'project-find:show' # Find in path
    'cmd-shift-r': 'project-find:show' # Replace in path

    # Navigation
    'cmd-o': 'fuzzy-finder:toggle-file-finder' # Go to class
    'cmd-shift-o': 'fuzzy-finder:toggle-file-finder' # Go to file

    # Editing
    'alt-cmd-left': 'last-cursor-position:previous'
    'alt-cmd-right': 'last-cursor-position:next'

    # ETC

    # Run
    'cmd-F2': 'run:stop' # runner stop

# in edit
'.platform-darwin atom-workspace atom-text-editor:not([mini])':
    # General
    'cmd-space': 'atom-ternjs:startCompletion'
    'f1': 'atom-ternjs:documentation' # view documentation in nodejs

    # Search / Replace
    'cmd-r': 'find-and-replace:show'
    'ctrl-g': 'find-and-replace:select-next' # Add Selection for Next Occurence
    'ctrl-shift-g': 'find-and-replace:select-undo' # Unselect Occurence

    # Navigation
    'ctrl-right': 'pane:show-next-item' # Go to next editor tab
    'ctrl-left': 'pane:show-previous-item' # Go to previous editor tab
    'cmd-l': 'go-to-line:toggle' # Go to line
    'cmd-e': 'fuzzy-finder:toggle-buffer-finder' # Recent files popup
    'cmd-ctrl-s': 'tree-view:reveal-active-file'
    'cmd-f3': 'bookmarks:view-all' # Show bookmarks
    'f3': 'bookmarks:toggle-bookmark' # Toggle bookmark
    'cmd-b': 'atom-ternjs:definition' # Go to definition

    # Editing
    'cmd-d': 'editor:duplicate-lines' # Duplicate current line or selected block
    'alt-up': 'expand-region:expand'
    'alt-down': 'expand-region:shrink'
    'cmd-backspace': 'editor:delete-line' # Delete line at caret
    'cmd-shift-up': 'editor:move-line-up' # Move line up
    'cmd-shift-down': 'editor:move-line-down' # Move line down
    'alt-shift-up': 'editor:move-line-up' # Move line up
    'alt-shift-down': 'editor:move-line-down' # Move line down
    'cmd-alt-l': 'atom-beautify:beautify-editor' # Reformat code
    'shift-f6': 'atom-ternjs:rename' # rename in nodejs
    'shift-enter': 'editor:newline-below' # Start new line below

    # Live Templates
    'cmd-j': 'snippets:available' # Insert live templates

# tree-vew keybinding
'.platform-darwin .tree-view':
    # General
    'a': 'unset!'
    'cmd-n': 'tree-view:add-file'

    # Navigation
    'cmd-1': 'tree-view:toggle' # Open corresponding tool window

    # Editing'.tree-view':
    'cmd-shift-c': 'tree-view:copy-full-path'
    'cmd-r': 'tree-view:move'
    'f6': 'tree-view:move'
    'shift-f6': 'tree-view:move'

'atom-workspace':
    'ctrl-shift-C': 'run:stop'
